@use "../variables";

.hero {
    position: relative;
    overflow: clip;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: variables.$bg;

    @media screen and (min-width: variables.$tablet) {
        transform: translate3d(0, 0, 0);
    }

    &__header {
        position: relative;
        z-index: 20;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1.6rem;


        @media screen and (max-width: 430px) {
            padding: 2.4rem 2.8rem 0;
            align-items: center;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            padding: 2.4rem 2.8rem 0;
            align-items: center;
        }

        @media screen and (min-width: variables.$mobile) {
            padding: 4.8rem 5.6rem 0;
            align-items: center;
        }

        &-logo {
            display: block;

            img {
                width: auto;
                height: 2.4rem;


                @media screen and (max-width: 430px) {
                    height: 3.2rem;
                }

                @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
                    height: 3.2rem;
                }

                @media screen and (min-width: variables.$mobile) {
                    width: 21.5rem;
                    height: 4rem;
                }
            }
        }

        &-lang {
            position: relative;
            display: none;
            width: 6rem;
            height: 3rem;

            @media screen and (min-width: variables.$mobile) {
                display: block;
            }

            &--mobile {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: auto;
                height: auto;
                overflow: visible;
                cursor: pointer;

                @media screen and (min-width: variables.$mobile) {
                    display: none;
                }

                .hero__header-lang-indicator {
                    position: relative;
                    order: -1;
                    width: 2.4rem;
                    height: 0.25rem;
                    background-color: variables.$color-primary;
                    transition: width variables.$transition;
                }

                .hero__header-lang-list {
                    position: relative;
                    top: auto;
                    right: auto;
                    column-gap: 0;
                    margin-top: 0.25rem;
                }

                .hero__header-lang-btn {
                    font-family: variables.$font-neutral-face;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    font-weight: 400;
                }

                &:not(.hero__header-lang--open) {
                    .hero__header-lang-list li {
                        display: none;
                    }

                    .hero__header-lang-list
                        li:has(.hero__header-lang-btn--active) {
                        display: block;
                    }
                }

                &.hero__header-lang--open {
                    align-items: center;

                    .hero__header-lang-indicator {
                        width: 8.4rem;
                    }

                    .hero__header-lang-list {
                        display: flex;
                        justify-content: center;
                        column-gap: 2.4rem;
                    }

                    .hero__header-lang-list li {
                        display: block;
                    }
                }
            }
        }

        &-lang-list {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1.6rem;

            @media screen and (min-width: variables.$mobile) {
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 6.4rem;
                    height: 0.4rem;
                    background-color: variables.$color-primary;
                    opacity: 0;
                    transition:
                        opacity variables.$transition,
                        top variables.$transition,
                        bottom variables.$transition;
                }

                &--bottom::before {
                    top: 100%;
                    bottom: auto;
                    margin-top: 0.5rem;
                    opacity: 1;
                }

                &--top::before {
                    top: auto;
                    bottom: 100%;
                    margin-bottom: 0.5rem;
                    opacity: 1;
                }
            }
        }

        &-lang-btn {
            cursor: pointer;
            font-family: variables.$font-neutral-face;
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 400;
            color: variables.$border-color;
            text-transform: uppercase;
            transition: color variables.$transition;

            &--active {
                color: variables.$color-white;
            }

            &:hover {
                color: variables.$color-primary;
            }
        }
    }

    &__bg,
    &__bg-stars,
    &__bg-line {
        position: absolute;
        pointer-events: none;
    }

    &__bg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            width: 58%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    &__bg-gradient {
        position: absolute;

        &--top {
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 7rem;
            background: linear-gradient(
                180deg,
                variables.$icon-color 0%,
                rgba(variables.$icon-color, 0) 100%
            );

            @media screen and (min-width: variables.$mobile) {
                top: 0;
                left: 0;         
                height: 16.3rem;
            }
        }

        &--bottom {
            z-index: 1;
            top: 35%;
            left: 0;
            width: 100%;
            height: 25%;
            background: linear-gradient(
                0deg,
                variables.$bg 0%,
                variables.$bg 30%,
                rgba(variables.$icon-color, 0) 100%
            );


            @media screen and (max-width: 430px) {
                top: 31.5%;
                left: 0;
                width: 100%;
                height: 66%;
                background: linear-gradient(
                    0deg,
                    variables.$bg 0%,
                    variables.$bg 46%,
                    rgba(variables.$bg, 0.94) 62%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
                top: 31.5%;
                left: 0;
                width: 100%;
                height: 66%;
                background: linear-gradient(
                    0deg,
                    variables.$bg 0%,
                    variables.$bg 46%,
                    rgba(variables.$bg, 0.94) 62%,
                    rgba(variables.$bg, 0) 100%
                );
            }



            @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
                top: 30%;
                left: 0;
                width: 100%;
                height: 47%;
                background: linear-gradient(
                    0deg,
                    variables.$bg 0%,
                    variables.$bg 42%,
                    rgba(variables.$bg, 0.9) 60%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
                top: 42%;
                left: -3.5rem;
                width: 100%;
                height: 48.5%;
                background: linear-gradient(
                    0deg,
                    variables.$bg 0%,
                    variables.$bg 30%,
                    rgba(variables.$icon-color, 0) 100%
                );
            }

            @media screen and (min-width: variables.$desktop) {
                top: 75%;
            }

        }

        &--right {
            z-index: 1;
            top: 0;
            right: 25%;
            width: 30%;
            height: 100%;
            background: linear-gradient(
                to left,
                variables.$bg 10%,
                rgba(0, 0, 0, 0) 100%
            );
            display: none;


            @media screen and (max-width: 430px) {
                display: block;
                right: 0;
                width: 34%;
                background: linear-gradient(
                    to left,
                    variables.$bg 0%,
                    rgba(variables.$bg, 0.9) 34%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
                display: block;
                right: 0;
                width: 34%;
                background: linear-gradient(
                    to left,
                    variables.$bg 0%,
                    rgba(variables.$bg, 0.9) 34%,
                    rgba(variables.$bg, 0) 100%
                );
            }


            @media screen and (max-width: 430px) {
                display: block;
                right: 0;
                width: 42%;
                background: linear-gradient(
                    to left,
                    variables.$bg 8%,
                    rgba(variables.$bg, 0.88) 38%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
                display: block;
                right: 0;
                width: 42%;
                background: linear-gradient(
                    to left,
                    variables.$bg 8%,
                    rgba(variables.$bg, 0.88) 38%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
                display: block;
                right: 0;
                width: 34%;
                background: linear-gradient(
                    to left,
                    variables.$bg 0%,
                    rgba(variables.$bg, 0.9) 34%,
                    rgba(variables.$bg, 0) 100%
                );
            }

          

            @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
                display: block;
                right: 0;
                width: 30%;
                background: linear-gradient(
                    to left,
                    variables.$bg 10%,
                    rgba(0, 0, 0, 0) 100%
                );
            }

            @media screen and (min-width: variables.$desktop) {
                display: block;
            }
        }

        &--left {
            z-index: 1;
            top: 0;
            left: 0;
            width: 36%;
            height: 100%;
            display: none;
            background: linear-gradient(
                to right,
                variables.$bg 0%,
                rgba(variables.$bg, 0.9) 34%,
                rgba(variables.$bg, 0) 100%
            );


            @media screen and (max-width: 430px) {
                display: block;
            }

            @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
                display: block;
            }

            @media screen and (min-width: variables.$mobile) and (max-width: variables.$desktop - 1px) {
                display: block;
                width: 42%;
                background: linear-gradient(
                    to right,
                    variables.$bg 8%,
                    rgba(variables.$bg, 0.88) 38%,
                    rgba(variables.$bg, 0) 100%
                );
            }

            @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
                display: none;
            }
        }
    }

    &__bg-rocks {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 3.5rem;
        width: 67.6rem;
        height: 46.8rem;
        z-index: 0;
        pointer-events: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
        mask-image: linear-gradient(to bottom, transparent 0%, black 6rem);

        background-image: image-set(
            url("assets/webp/home/astronaut-rocks-small.webp")
                type("image/webp") 1x,
            url("assets/png/home/astronaut-rocks-small.png") type("image/png")
                1x
        );


        @media screen and (max-width: 430px) {
            left: 50%;
            top: 3.5rem;
            width: 67.6rem;
            height: 46.8rem;
            transform: translateX(-50%);
            background-size: contain;
            background-position: top left;
            -webkit-mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 6rem
            );
            mask-image: linear-gradient(to bottom, transparent 0%, black 6rem);
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-small.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-small.png")
                    type("image/png") 1x
            );
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            left: 50%;
            top: 3.5rem;
            width: 67.6rem;
            height: 46.8rem;
            transform: translateX(-50%);
            background-size: contain;
            background-position: top left;
            -webkit-mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 6rem
            );
            mask-image: linear-gradient(to bottom, transparent 0%, black 6rem);
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-small.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-small.png")
                    type("image/png") 1x
            );
        }

        @media screen and (min-width: variables.$mobile) {
            left: -3.5rem;
            top: 0;
            transform: none;
            width: 100%;
            height: 100%;
            background-size: 75% auto;
            background-position: top left;
            mask-image: none;
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-tablet.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-tablet.png")
                    type("image/png") 1x
            );
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            left: 50%;
            top: 3.5rem;
            width: 67.6rem;
            height: 46.8rem;
            transform: translateX(-50%);
            background-size: contain;
            background-position: top left;
            -webkit-mask-image: linear-gradient(
                to bottom,
                transparent 0%,
                black 6rem
            );
            mask-image: linear-gradient(to bottom, transparent 0%, black 6rem);
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-small.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-small.png")
                    type("image/png") 1x
            );
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            left: 0;
            top: 8rem;
            transform: none;
            width: 100%;
            height: 100%;
            background-size: 125% auto;
            background-position: top left;
            -webkit-mask-image: none;
            mask-image: none;
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-desktop.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-desktop.png")
                    type("image/png") 1x
            );
        }

        @media screen and (min-width: variables.$desktop) {
            background-image: image-set(
                url("assets/webp/home/astronaut-rocks-desktop.webp")
                    type("image/webp") 1x,
                url("assets/png/home/astronaut-rocks-desktop.png")
                    type("image/png") 1x
            );
        }
    }

    &__bg-lightning {
        position: absolute;
        z-index: 4;
        pointer-events: none;
        container-type: inline-size;
        width: 100%;
        height: 100%;




        @media screen and (max-width: 430px) {
            top: 14%;
            left: 24%;    

            aspect-ratio: 615 / 415;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            top: 14%;
            left: 24%;    

            aspect-ratio: 615 / 415;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            top: -1%;
            left: 16.5%;           
            aspect-ratio: 615 / 415;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            top: 12%;
            left: 24%;
        
        
            aspect-ratio: 615 / 415;
        }


        .animated-lightning {
            width: 100%;
            height: 100%;
            overflow: visible;
        }
    }

    &__bg-stars {
        top: 0;
        left: -3.5rem;
        z-index: 2;
        width: 100%;
        height: 80%;
        background: url("assets/svg/bg/stars.svg") no-repeat top left / contain;

        mask: linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.7) 35%,
            rgba(0, 0, 0, 0) 55%
        );
    }

    &__bg-particles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        z-index: 3;
        pointer-events: auto;

        @media screen and (max-width: variables.$tablet - 1px) {
            width: 100%;
            height: 45svh;
            inset: auto;
        }

        @media screen and (min-width: variables.$tablet) {
            inset: 0 0 0 -3.5rem;
            width: auto;
            height: auto;
        }
    }

    &__bg-line {
        right: 0;
        width: 100%;
        height: fit-content;
        top: 42svh;
        z-index: 10;


        @media screen and (max-width: 430px) {
            top: 48svh;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            top: 48svh;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            top: 25svh;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            top: 17.5svh;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 5.5svh;
        }

        .svg-line {
            display: block;
            height: 100%;
            overflow: visible;
        }
    }

    &__stage {
        position: relative;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 90svh;

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            width: 42%;
            min-height: 100%;
            height: 100%;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            min-height: 85svh;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            min-height: 740px;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            min-height: 100%;
        }

        @media screen and (min-width: variables.$desktop) {
            position: absolute;
            top: 9.4rem;
            left: 50%;
            min-height: auto;
            width: 79.1rem;
            height: 73.1rem;
        }
    }

    &__grid {
        position: absolute;
        pointer-events: none;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 13.2rem;
        left: 0;

        @media screen and (min-width: variables.$tablet) {
            width: auto;
            height: auto;
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
                top: 20%;
                left: -19%;
                transform: scale(0.7);
            }
        
    }

    &__content {
        position: absolute;
        z-index: 10;
        top: 45svh;
        left: 1.6rem;
        width: calc(100% - 3.2rem);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-shadow: 0 0 1rem variables.$bg;



        @media screen and (max-width: 430px) {
            top: 43svh;
            left: 0;
            width: 100%;
            padding-inline: 2.4rem;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            top: 43svh;
            left: 0;
            width: 100%;
            padding-inline: 2.4rem;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            top: 36svh;
            left: 0;
            width: 100%;
            padding-inline: 2.4rem;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            top: 31svh;
            left: auto;
            right: 4svw;
            width: 100%;
            padding-inline: 2.4rem;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }

    }

    &__grid-row,
    &__grid-col {
        position: absolute;
        width: 0;
        left: 50vw;
        height: 100%;

        @media screen and (min-width: variables.$tablet) {
            left: 50%;
        }
    }

    &__grid-item {
        position: absolute;
        border: 0.1rem solid variables.$border-color;
    }

    &__grid-row &__grid-item {
        height: 1.2rem;

        @media screen and (min-width: variables.$tablet) {
            height: 3.8rem;
        }

        &:nth-child(1) {
            top: 28.6rem;
            left: -15rem;
            width: 23rem;

            @media screen and (min-width: variables.$tablet) {
                top: 18.9rem;
                left: 10.4rem;
                width: 48.7rem;
            }
        }

        &:nth-child(2) {
            top: 31.7rem;
            left: -8rem;
            width: 22.3rem;

            @media screen and (min-width: variables.$tablet) {
                left: 10.4rem;
                width: 68.7rem;
            }
        }

        &:nth-child(3) {
            top: 36.9rem;
            left: -17rem;
            width: 33.1rem;

            @media screen and (min-width: variables.$tablet) {
                top: 38.2rem;
                left: 15.6rem;
                width: 41.5rem;
                height: 3.9rem;
            }
        }

        &:nth-child(4) {
            top: 39.4rem;
            left: -17.9rem;
            width: 29.3rem;

            @media screen and (min-width: variables.$tablet) {
                top: 44.8rem;
                left: 0;
                width: 44.5rem;
            }
        }

        &:nth-child(5) {
            top: 41.9rem;
            left: -10.7rem;
            width: 17.5rem;

            @media screen and (min-width: variables.$tablet) {
                display: none;
            }
        }
    }

    &__grid-col &__grid-item {
        width: 1.2rem;

        @media screen and (min-width: variables.$tablet) {
            width: 3.8rem;
        }

        &:nth-child(1) {
            top: 23rem;
            left: -3.2rem;
            height: 25.6rem;

            @media screen and (min-width: variables.$tablet) {
                top: 0;
                left: 18.8rem;
                height: 51.5rem;
            }
        }

        &:nth-child(2) {
            display: none;
            top: 44.8rem;
            left: 25.7rem;
            height: 13.4rem;

            @media screen and (min-width: variables.$tablet) {
                display: block;
            }
        }

        &:nth-child(3) {
            top: 21rem;
            left: 50%;
            height: 30.1rem;
            transform: translateX(-50%);

            @media screen and (min-width: variables.$tablet) {
                top: 27rem;
                left: 36.4rem;
                height: 46.1rem;
                transform: translateX(0);
            }
        }

        &:nth-child(4) {
            top: 28.6rem;
            left: 2rem;
            height: 25.3rem;

            @media screen and (min-width: variables.$tablet) {
                top: 13.8rem;
                left: 49.4rem;
                height: 40.8rem;
            }
        }

        &:nth-child(5) {
            display: none;
            top: 27rem;
            left: 60.1rem;
            height: 20rem;

            @media screen and (min-width: variables.$tablet) {
                display: block;
            }
        }
    }

    &__title {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;


        @media screen and (max-width: 430px) {
            position: relative;
            display: block;
            width: min(100%, 64rem);
            margin-inline: auto;
            height: 17rem;
            row-gap: 0;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            position: relative;
            display: block;
            width: min(100%, 64rem);
            margin-inline: auto;
            height: 17rem;
            row-gap: 0;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            position: relative;
            display: block;
            width: min(100%, 64rem);
            margin-inline: auto;
            height: 17rem;
            row-gap: 0;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            position: relative;
            display: block;
            width: min(100%, 64rem);
            margin-inline: auto;
            height: 17rem;
            row-gap: 0;
        }

        @media screen and (min-width: variables.$desktop) {
            top: -43.4rem;
            right: 1.6rem;
        }
    }

    &__title-left,
    &__title-right {
        position: relative;
        transition: transform variables.$linear-transition;
        font-family: variables.$font-neutral-face;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 7.7rem;
        letter-spacing: -0.1rem;
        color: variables.$color-white;
        text-transform: uppercase;

        @media screen and (min-width: variables.$mobile) {
            position: absolute;
            font-size: 9.6rem;
            line-height: 12.3rem;
            letter-spacing: 0.768rem;
        }


        @media screen and (max-width: 430px) {
            font-size: 6.4rem;
            line-height: 7.7rem;
            letter-spacing: -0.1rem;
            width: max-content;
            position: absolute;
            left: 50%;
            right: auto;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            font-size: 6.4rem;
            line-height: 7.7rem;
            letter-spacing: -0.1rem;
            width: max-content;
            position: absolute;
            left: 50%;
            right: auto;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            font-size: 6.4rem;
            line-height: 7.7rem;
            letter-spacing: -0.1rem;
            position: absolute;
            left: 50%;
            right: auto;
            width: max-content;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            font-size: 6.4rem;
            line-height: 7.7rem;
            letter-spacing: -0.1rem;
            position: absolute;
            left: 50%;
            right: auto;
            width: max-content;
        }
    }

    &--intro {
        .hero__title-left,
        .hero__title-right {
            transition: none;
        }
    }

    &__title-left {
        text-align: left;


        @media screen and (max-width: 430px) {
            top: 0;
            left: calc(-2rem + 50%);
            margin: 0;
            transform: translateX(calc(-100% - 1.8rem));
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            top: 0;
            left: calc(-2rem + 50%);
            margin: 0;
            transform: translateX(calc(-100% - 1.8rem));
        }

        @media screen and (min-width: variables.$mobile) {
            left: calc(-5rem + 50%);
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            top: 0;
            left: calc(-2rem + 50%);
            margin: 0;
            transform: translateX(calc(-100% - 1.8rem));
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            top: 0;
            left: calc(-2rem + 50%);
            margin: 0;
            transform: translateX(calc(-100% - 1.8rem));
        }

        @media screen and (min-width: variables.$desktop) {
            top: 15.6rem;
            left: 14.6rem;
        }
    }

    &__title-right {
        text-align: right;
        margin-top: -0.8rem;


        @media screen and (max-width: 430px) {
            top: 8.6rem;
            right: calc(-15rem + 50%);
            left: auto;
            margin: 0;
            transform: translateX(1.8rem);
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            top: 8.6rem;
            right: calc(-15rem + 50%);
            left: auto;
            margin: 0;
            transform: translateX(1.8rem);
        }

        @media screen and (min-width: variables.$mobile) {
            top: 30.8rem;
            right: calc(-15rem + 50%);
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            top: 8.6rem;
            right: calc(-15rem + 50%);
            left: auto;
            margin: 0;
            transform: translateX(1.8rem);
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            top: 8.6rem;
            right: calc(-15rem + 50%);
            left: auto;
            margin: 0;
            transform: translateX(1.8rem);
        }

        @media screen and (min-width: variables.$desktop) {
            right: 5.4rem;
        }
    }

    &__subtitle {
        position: relative;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        white-space: nowrap;
        color: variables.$color-white;
        font-size: 4.8rem;
        line-height: 6rem;

        @media screen and (min-width: variables.$mobile) {
            position: absolute;
            top: 0%;
            margin-top: 0;
            font-size: 4.8rem;
            line-height: 6rem;
        }


        @media screen and (max-width: 430px) {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: min(100%, 64rem);
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 4.8rem;
            line-height: 6rem;
            text-align: center;
        }

        @media screen and (min-width: variables.$extra-small) and (max-width: variables.$mobile - 1px) {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: min(100%, 64rem);
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 4.8rem;
            line-height: 6rem;
            text-align: center;
        }

        @media screen and (min-width: variables.$mobile) and (max-width: variables.$tablet - 1px) {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: min(100%, 64rem);
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 4.8rem;
            line-height: 6rem;
            text-align: center;
        }

        @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: min(100%, 64rem);
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 4.8rem;
            line-height: 6rem;
            text-align: center;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 2.8rem;
            left: 11.6rem;
            transform: translateX(0);
            text-align: left;
            font-size: 8rem;
            line-height: 10.1rem;
        }
    }

    &__subtitle-pixelify {
        font-family: variables.$font-pixelify-sans;
        font-weight: 500;
        letter-spacing: 0;

        @media screen and (min-width: variables.$desktop) {
            line-height: 9.6rem;
        }

        &--end {
            letter-spacing: 0.16rem;
        }
    }

    &__subtitle-source {
        font-family: variables.$font-source-code-pro;
        font-weight: 400;
        letter-spacing: 0;
    }
}
