@use "../variables";

.keep-in-touch {
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 430px) and (orientation: portrait) {
        position: relative;
        width: calc(100% - 3.2rem);
        margin: 0 16px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__backgrounds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__header {
        position: relative;
        z-index: 4;
        display: flex;

        .animated-title {
            @media screen and (min-width: variables.$desktop) {
                padding-top: 7.4rem;
            }
        }
    }

    &__bg {
        height: 100%;

        &-line {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - var(--content-mobile-offset));

            .keep-in-touch__svg-line {
                top: -24%;

                @media screen and (min-width: variables.$mobile) {
                    top: 0;
                }
            }

            @media screen and (min-width: variables.$mobile) {
                top: 12rem;
                width: 105%;
                left: -0.5rem;
            }
        }

        &-dots {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }

    &__dots--left {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        contain: layout style paint;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 140%;
            max-width: none;
            transform: translateX(-50%) scale(1.15);
            transform-origin: top center;
            opacity: 0.35;
            filter: brightness(1.25) contrast(1.05);
            mix-blend-mode: screen;
        }
    }

    &__dots--right {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        contain: layout style paint;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 140%;
            max-width: none;
            transform: translateX(-50%) scale(1.15);
            transform-origin: bottom center;
            opacity: 0.35;
            filter: brightness(1.25) contrast(1.05);
            mix-blend-mode: screen;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            margin-top: 10rem;
        }

        @media screen and (min-width: variables.$desktop) {
            max-width: none;
            width: calc(100% - 6.8rem);
            margin-inline: 3.4rem;
            padding-top: 14.8rem;
        }
    }

    &__top {
        padding-top: 1.2rem;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        row-gap: 1.6rem;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            padding-top: 0;
            align-items: stretch;
        }

        @media screen and (min-width: variables.$desktop) {
            padding-top: 0;
            flex-flow: row nowrap;
            justify-content: flex-start;
        }

        input,
        button {
            width: 100%;
            height: 5.6rem;

            @media screen and (min-width: variables.$mobile) {
                width: 40rem;
            }

            @media screen and (min-width: variables.$desktop) {
                width: 40rem;
            }
        }

        input,
        textarea {
            padding: 0 4rem;
            border: 0.1rem solid variables.$border-color;
            background-color: transparent;
            color: variables.$color-white;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-background-clip: text;
                -webkit-text-fill-color: #ffffff;
                transition: background-color 5000s ease-in-out 0s;
                box-shadow: inset 0 0 2rem 2rem rgba(0, 0, 0, 0);
            }

            &::placeholder {
                color: variables.$color-white;
                font-family: variables.$font-source-code-pro;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 2.7rem;
                text-transform: capitalize;
            }

            &:focus-visible {
                outline: none;
                border: 0.1rem solid variables.$color-primary;
                color: variables.$color-primary;

                &::placeholder {
                    color: variables.$color-primary;
                }
            }
        }

        input,
        textarea,
        button {
            border-radius: variables.$border-radius-base;
            backdrop-filter: variables.$glass-blur;
            font-family: variables.$font-source-code-pro;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 2.7rem;

            @media screen and (min-width: variables.$mobile) {
                border-radius: variables.$border-radius-pill;
            }
        }

        textarea {
            width: 60rem;
            height: 14rem;
            padding-top: 1.4rem;
            resize: none;
            overflow: hidden;

            @media screen and (max-width: 430px) and (orientation: portrait) {
                width: 100%;
            }

            @media screen and (min-width: variables.$desktop) {
                width: 60.1rem;
                height: 13.6rem;
            }
        }

        button {
            border: 0.1rem solid variables.$color-primary;
            background: variables.$color-primary;
            transition:
                background-color 0.55s ease-in-out,
                color 0.55s ease-in-out,
                box-shadow 0.55s ease-in-out;
            color: variables.$icon-color;
            cursor: pointer;

            & > * {
                display: inline-block;
            }

            i {
                transition: color 0.55s ease-in-out;
                transform: rotate(45deg);
                font-size: 4rem;
                line-height: 0;
                vertical-align: middle;
            }

            span {
                margin: 0 1.6rem;
            }

            &:hover {
                background: variables.$bg;
                color: variables.$color-primary;

                i,
                span {
                    color: variables.$color-primary;
                }
            }

            &:active {
                box-shadow: 0 0 0.4rem variables.$color-primary;
                filter: brightness(0.95);
            }
        }
    }

    &__figure {
        flex: 0 0 auto;
        position: relative;
        width: calc(50% - 0.4rem);
        border-radius: variables.$border-radius-base;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 28rem;
        }

        @media screen and (min-width: variables.$mobile) {
            margin-top: 3.2rem;
            width: 62.9rem;
            margin-bottom: 4rem;
        }

        @media screen and (min-width: variables.$desktop) {
            flex: 0 0 63rem;
            width: 63rem;
            height: 42rem;
        }

        &::after {
            content: "";
            z-index: 2;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
                height: calc(100% + 0.6rem);
            }
        }

        &::before {
            content: "";
            z-index: 2;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
                height: calc(100% + 0.8rem);
            }
        }

        img {
            position: relative;
            z-index: 3;
            width: 100%;
            height: auto;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;

            @media screen and (min-width: variables.$desktop) {
                height: 42rem;
                object-fit: cover;
            }
        }
    }

    &__form {
        z-index: 4;
        position: relative;
        width: 100%;
    }

    &__form-fields {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.6rem;
        margin-bottom: 1.6rem;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            flex-direction: column;
            width: 100%;
            margin-bottom: 2.4rem;
        }

        @media screen and (min-width: variables.$mobile) {
            gap: 2.4rem;
        }

        @media screen and (min-width: variables.$desktop) {
            gap: 2.3rem;
            flex-wrap: nowrap;
        }
    }

    &__inputs {
        display: flex;
        flex-flow: column wrap;
        gap: 1.6rem;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 100%;
            flex: 0 0 100%;
        }

        @media screen and (min-width: variables.$mobile) {
            gap: 2.4rem;
        }
    }

    &__name {
        width: 100%;
    }

    &__contact {
        width: 100%;
        position: relative;
    }

    &__switch-wrap {
        position: absolute;
        top: 50%;
        right: 2.4rem;
        transform: translateY(-50%);
        font-family: variables.$font-source-code-pro;
        font-size: 1.4rem;
        text-align: center;
        text-transform: capitalize;
        color: variables.$color-white;
    }

    &__switch-label {
        display: block;
        line-height: 1.2;
    }

    &__switch {
        position: relative;
        width: 3.2rem;
        height: 1.6rem;
        margin: 0 auto;
        border: 0.1rem solid variables.$border-color;
        border-radius: 2rem;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: variables.$border-color;
            transform: translateY(-50%);
            transition: left variables.$transition;
        }

        &--phone::before {
            left: calc(100% - 1.2rem);
        }

        &--email::before {
            left: 0.2rem;
        }
    }

    &__textarea-wrap {
        position: relative;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 100%;
            flex: 0 0 100%;
        }
    }

    &__textarea-counter {
        position: absolute;
        right: 5.6rem;
        bottom: -1.9rem;
        width: max-content;
        padding: 0 1rem;
        font-family: variables.$font-source-code-pro;
        font-size: 1.4rem;
        font-weight: 400;
        color: variables.$color-white;
        border-radius: 0.8rem;
        backdrop-filter: variables.$glass-blur;
    }

    &__submit {
        position: relative;
    }

    &__message {
        position: absolute;
        bottom: 7.2rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        row-gap: 0.8rem;
        width: 40rem;
        height: 12.3rem;
        padding: 1.4rem 2.4rem 1.6rem;
        opacity: 1;
        background-color: variables.$bg;
        border: 0.1rem solid variables.$error-color;
        border-radius: 3.2rem;
        text-align: center;
        text-transform: uppercase;
        font-family: variables.$font-source-code-pro;
        color: variables.$error-color;

        &--success {
            background-color: variables.$color-primary;
            border-color: variables.$color-primary;
            color: variables.$icon-color;

            .keep-in-touch__close,
            .keep-in-touch__message-header {
                color: variables.$icon-color;
            }
        }
    }

    &__close {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1;
        color: variables.$color-white;
        cursor: pointer;
    }

    &__message-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        width: 100%;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 2rem;

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 2.9rem;
            line-height: 1;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(225deg);
            }
        }
    }

    &__message-text {
        margin: 0;
        font-family: variables.$font-source-code-pro;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2rem;
        text-transform: uppercase;
        color: inherit;
    }

    &__contact-card {
        position: relative;
        align-self: center;
        margin: 2.8rem auto 0;
        width: calc(100% - 3.2rem);

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 335px;
            max-width: calc(100% - 3.2rem);
            height: 185px;
        }

        @media screen and (min-width: variables.$mobile) {
            align-self: flex-end;
            margin-top: 1.6rem;
            margin-right: 2.4rem;
            width: 44rem;
            transform: rotate(-20deg);
        }

        @media screen and (min-width: variables.$desktop) {
            width: 42.7rem;
            margin-top: -0.8rem;
            margin-right: 4.8rem;
        }

        &::after {
            content: "";
            z-index: 1;
            position: absolute;
            top: 0.8rem;
            left: 0.8rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (max-width: 430px) and (orientation: portrait) {
                width: calc(100% - 0.8rem);
                height: calc(100% - 0.8rem);
            }

            @media screen and (min-width: variables.$mobile) {
                top: 1.2rem;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% + 2.8rem);
            }
        }

        &::before {
            content: "";
            z-index: 1;
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (max-width: 430px) and (orientation: portrait) {
                width: calc(100% - 1.6rem);
                height: calc(100% - 1.6rem);
            }

            @media screen and (min-width: variables.$mobile) {
                top: 2.8rem;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% + 5.6rem);
            }
        }
    }

    &__contact-info {
        z-index: 2;
        position: relative;
        margin: 0;
        padding: 1.6rem 2.4rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        backdrop-filter: variables.$glass-blur;
        border-radius: variables.$border-radius-base;
        border: 0.1rem solid variables.$border-color;
        font-family: variables.$font-source-code-pro;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.7rem;
        font-style: normal;
        color: variables.$color-white;

        @media screen and (min-width: variables.$mobile) {
            padding: 2rem;
        }
    }

    &__contact-label {
        margin: 1rem 0 3rem;
        color: variables.$color-primary;
    }

    &__email {
        margin-bottom: 2rem;
    }

    &__phone {
        margin: 0;
    }
}
