@use "sass:math";
@use "../variables";

.key-facts {
    position: relative;
    width: 100%;
    height: 100%;

    // ========== BACKGROUND LAYER ==========
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg-header,
    &__bg-upper,
    &__bg-lower {
        height: 100vh;
    }

    &__bg-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

    &__bg-upper {
        position: absolute;
        top: var(--content-mobile-offset);
        left: 0;
        width: 100%;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            top: var(--content-offset);
        }
    }

    &__bg-lower {
        top: 70vh;
    }

    // ========== UPPER AREA DECORATIONS ==========
    &__path-upper,
    &__pattern-upper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__path-upper {
        z-index: 2;
        height: 60%;

        @media screen and (orientation: landscape) {
            top: -12rem;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            height: 100%;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: -20rem;
            height: 100%;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -40rem;
        }
    }

    &__pattern-upper {
        z-index: 1;
        height: 100%;
        background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 / cover;

        @media screen and (min-width: variables.$tablet) {
            background-size: contain;
        }
    }

    // ========== LOWER AREA DECORATIONS ==========
    &__path-lower,
    &__pattern-lower,
    &__pattern-mobile {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__path-lower {
        z-index: 2;
        top: 30rem;

        @media screen and (min-width: variables.$tablet) {
            top: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 56rem;
        }
    }

    &__pattern-lower {
        z-index: 1;
        top: -16rem;
        background: url("assets/svg/bg/key-facts-bg-2.svg") no-repeat center right / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: -32rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 16rem;
            background-size: 80%;
        }

        @media screen and (min-width: variables.$desktop) {
            background-size: 60%;
        }
    }

    &__pattern-mobile {
        z-index: 1;
        top: 60rem;
        background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center center / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: 46rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            display: none;
        }
    }

    // ========== CONTENT LAYER ==========
    &__content {
        position: relative;
        z-index: 3;
        top: var(--content-mobile-offset);
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 3.2rem);
        max-width: var(--content-max-width);
        height: 170rem;

        @media screen and (min-width: variables.$mobile) {
            width: var(--content-tablet-width);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            top: var(--content-mobile-offset);
        }

        @media screen and (min-width: variables.$tablet) {
            width: var(--content-width);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            top: var(--content-offset);
        }
    }

    // ========== CONTENT BLOCKS ==========
    &__block {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 5rem;
    }

    &__text {
        z-index: 4;
        flex: 0 0 44.6rem;
        width: 80%;
        max-width: 29.4rem;
        padding: 2.4rem;
        border-radius: 3.6rem;
        border: 0.1rem solid variables.$border-color;
        backdrop-filter: blur(0.7rem);
        font-family: variables.$font-source-code-pro;
        font-size: 1.6rem;
        line-height: 2rem;
        color: variables.$color-white;

        @media screen and (min-width: variables.$mobile) {
            width: 44.6rem;
            max-width: unset;
            padding: 4.6rem 3.6rem;
            border-radius: 6.4rem;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    // ========== LOGOS ORBIT ==========
    &__orbits {
        position: relative;
        top: 38rem;
        left: -10rem;
        flex: 1 0 auto;

        @media screen and (min-width: variables.$mobile) {
            top: 22rem;
            left: -12rem;
        }
    }

    &__orbit {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        will-change: transform;

        /* Rotation animation - CSS is more performant than JS */
        &:first-child {
            animation: rotate-counterclockwise 180s linear infinite;
        }

        &:last-child {
            animation: rotate-clockwise 240s linear infinite;
        }

        /* Pause animations on reduced motion preference */
        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }

    @keyframes rotate-clockwise {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes rotate-counterclockwise {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6.4rem;
        height: 6.4rem;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform variables.$linear-transition;
        border-radius: 50%;
        backdrop-filter: blur(0.7rem);
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center;
        will-change: transform;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        /* Remove will-change on low-power devices */
        @media (prefers-reduced-motion: reduce) {
            will-change: auto;
        }

        img {
            width: 100%;
            height: auto;
        }

        $item-length: 9;

        @for $i from 1 through $item-length {
            &:nth-child(#{$i}) img {
                transform: rotate(#{math.random(360)}deg);
            }
        }
    }

    // ========== BLOCK: LOGOS ==========
    &__block--logos {
        height: 55rem;
    }

    // ========== BLOCK: PHOTO ==========
    &__block--photo {
        height: 62rem;
        justify-content: flex-end;

        @media screen and (min-width: variables.$mobile) {
            height: 80rem;
        }

        @media screen and (min-width: variables.$tablet) {
            height: 50rem;
        }
    }

    &__block--photo &__figure {
        position: absolute;
        top: 32rem;
        left: -4rem;
        width: 28.6rem;
        height: 28.6rem;
        backdrop-filter: blur(0.7rem);
        border-radius: 50%;
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / cover;

        @media screen and (min-width: variables.$mobile) {
            top: 38rem;
            left: 0;
            width: 40rem;
            height: 40rem;
            min-width: 40rem;
        }

        @media screen and (min-width: variables.$tablet) {
            position: relative;
            top: 3rem;
            left: -3rem;
        }

        img {
            position: relative;
            display: block;
            width: 25.55rem;
            height: auto;
            margin: 0.1rem auto auto;
            border-radius: 50%;
            border: 0.1rem solid variables.$border-color;

            @media screen and (min-width: variables.$mobile) {
                width: 35.2rem;
                margin: 0.6rem auto auto;
            }
        }
    }

    &__block--photo &__watermark {
        z-index: -1;
        position: absolute;
        display: none;
        top: 14rem;
        left: 10%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(-45deg);
        background-blend-mode: lighten;
        background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -13rem;
            right: 20%;
            left: unset;
            transform: rotate(45deg);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // ========== BLOCK: CARD ==========
    &__block--card {
        height: 53rem;
    }

    &__block--card &__figure {
        position: absolute;
        top: 34rem;
        left: 10%;
        width: 28rem;
        height: 15.6rem;
        border-radius: 3.6rem;

        @media screen and (min-width: variables.$mobile) {
            top: 42rem;
            width: 45rem;
            height: auto;
        }

        @media screen and (min-width: variables.$tablet) {
            position: relative;
            top: 12rem;
            left: -3.2rem;
            width: 62.9rem;
            min-width: 38rem;
        }

        &::after {
            content: "";
            z-index: 3;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
            }
        }

        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
            }
        }

        img {
            z-index: 4;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
        }
    }

    &__block--card &__watermark {
        z-index: -1;
        position: absolute;
        display: none;
        bottom: 0;
        left: 60%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(45deg) scaleX(-1);
        background-blend-mode: lighten;
        background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            bottom: -15rem;
            left: 18%;
            transform: rotate(235deg) scaleX(-1);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
