@use "../variables";

.key-facts {
    position: relative;
    height: 100%;
    width: calc(100% - 3.2rem);
    margin: 0 16px;

    @media screen and (min-width: variables.$tablet) {
        width: 100%;
    }

    &__header {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    &__backgrounds {
        position: relative;
    }

    &__bg-art {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        background: url("assets/svg/bg/key-facts-key-wireframe.svg") no-repeat
            left top / contain;
    }

    &__bg-line--upper {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 110%;
        z-index: 1;
        height: 120%;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            right: -1.6rem;
            left: -1.6rem;
            width: calc(100% + 3.2rem);
        }

        @media screen and (min-width: variables.$tablet) {
            right: -2.6rem;
        }
    }

    &__bg-line--lower {
        position: absolute;
        top: -5.5rem;
        right: -0.5rem;
        width: 105%;
        z-index: 2;
        height: 100%;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            top: 50rem;
            right: -2rem;
            width: 113%;
            height: 100%;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 138rem;
        }
    }

    &__bg--upper &__watermark {
        z-index: 1;
        position: absolute;
        display: none;
        top: 14rem;
        left: 10%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(-45deg);
        background: url("assets/png/key-facts/key.png") no-repeat center
            center / contain;
        background: url("assets/webp/key-facts/key.webp") no-repeat center
            center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -13rem;
            right: 20%;
            left: unset;
            transform: rotate(45deg);

            &--upper {
                top: -5rem;
                left: 20%;
                transform: rotate(-60deg);
                opacity: 0.2;
            }

            &--lower {
                top: 57rem;
                right: 22%;
                transform: rotate(45deg) scaleX(-1);
            }
        }
    }

    &__bg--lower &__watermark {
        z-index: 1;
        position: absolute;
        display: none;
        bottom: 0;
        left: 60%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(45deg) scaleX(-1);
        background: url("assets/png/key-facts/key.png") no-repeat center
            center / contain;
        background: url("assets/webp/key-facts/key.webp") no-repeat center
            center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 165rem;
            left: 24%;
            transform: rotate(241deg);
        }
    }

    &__bg-stripes {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    &__bg-stripes--upper {
        z-index: 1;
        top: -3rem;
        height: 156.84rem;
        background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 /
            cover;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            top: -15rem;
            height: 91.84rem;
            left: -3rem;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -30rem;
            width: 91%;
            left: -25.5rem;
            height: 166.54rem;
            transform: rotate(7deg);
        }
    }

    &__bg-stripes--lower {
        z-index: 1;
        top: -16rem;

        @media screen and (min-width: variables.$extra-small) {
            top: -32rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 16rem;
            background-size: 80%;
        }

        @media screen and (min-width: variables.$desktop) {
            background-size: 60%;
        }
    }

    &__bg-stripes--lower-left {
        background: url("assets/svg/bg/key-facts-bg-lower-left.svg") no-repeat
            center left / 200%;

        @media screen and (min-width: variables.$tablet) {
            top: 73rem;
            left: -42.5rem;
            width: 86%;
            height: 146rem;
            background-size: cover;
            transform: rotate(30deg);
        }
    }

    &__bg-stripes--lower-right {
        background: url("assets/svg/bg/key-facts-bg-lower-right.svg") no-repeat
            center right / 200%;

        @media screen and (min-width: variables.$tablet) {
            top: 100rem;
            right: -16.5rem;
            left: unset;
            width: 79%;
            height: 144rem;
            background-size: cover;
            transform: rotate(-6deg);
        }
    }

    &__bg-stripes--mobile {
        z-index: 1;
        top: 60rem;
        background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center
            center / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: 46rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            display: none;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        margin-inline: auto;

        @media screen and (min-width: variables.$tablet) {
            width: 75%;
            padding-top: var(--content-mobile-offset);
        }
    }

    &__block {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
        @media screen and (min-width: variables.$tablet) {
            flex-direction: row;
        }
    }

    &__block--logos {
        padding-top: 13rem;

        @media screen and (min-width: variables.$tablet) {
            padding-top: 8rem;
        }
    }

    &__text {
        z-index: 4;
        flex: 0 0 44.6rem;
        width: 44.6rem;
        height: 38.6rem;
        max-width: 29.4rem;
        padding: 2.4rem;
        border-radius: variables.$border-radius-base;
        border: 0.2rem solid rgba(variables.$border-color, 0.35);
        backdrop-filter: variables.$glass-blur;
        font-family: variables.$font-source-code-pro;
        font-size: 1.6rem;
        line-height: 2rem;
        color: variables.$color-white;
        overflow: hidden;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            width: 295px;
            height: 255px;
            max-width: none;
            flex: 0 0 auto;
            padding: 25px;
        }

        @media screen and (min-width: variables.$mobile) {
            max-width: unset;
            padding: 4.6rem 3.6rem;
            border-radius: variables.$border-radius-large;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    &__logos {
        position: absolute;
        top: 5.6rem;
        left: 7rem;
        width: 70%;
        height: 44.6rem;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
        }
    }

    &__logo {
        position: absolute;
        left: var(--logo-left);
        top: var(--logo-top);
        width: 6.4rem;
        height: 6.4rem;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform variables.$linear-transition;
        border-radius: 50%;
        backdrop-filter: variables.$glass-blur;
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center
            center;
        will-change: transform;

        &:nth-child(1) {
            --logo-left: 65.6%;
            --logo-top: 16.1%;
        }
        &:nth-child(2) {
            --logo-left: 49.1%;
            --logo-top: 35%;
        }
        &:nth-child(3) {
            --logo-left: 82%;
            --logo-top: 27.9%;
        }
        &:nth-child(4) {
            --logo-left: 40%;
            --logo-top: 11.4%;
        }
        &:nth-child(5) {
            --logo-left: 67.8%;
            --logo-top: 52.6%;
        }
        &:nth-child(6) {
            --logo-left: 79.2%;
            --logo-top: 75.1%;
        }
        &:nth-child(7) {
            --logo-left: 58.5%;
            --logo-top: 83.7%;
        }
        &:nth-child(8) {
            --logo-left: 94.9%;
            --logo-top: 54.1%;
        }
        &:nth-child(9) {
            --logo-left: 42.9%;
            --logo-top: 78.9%;
        }

        @media screen and (max-width: 430px) and (orientation: portrait) {
            &:nth-child(1) {
                --logo-left: 52%;
                --logo-top: 97%;
            }
            &:nth-child(2) {
                --logo-left: 89%;
                --logo-top: 50%;
            }
            &:nth-child(3) {
                --logo-left: 70%;
                --logo-top: 85%;
            }
            &:nth-child(4) {
                --logo-left: 82%;
                --logo-top: 30%;
            }
            &:nth-child(5) {
                --logo-left: 15%;
                --logo-top: 80%;
            }
            &:nth-child(6) {
                --logo-left: 40%;
                --logo-top: 78%;
            }
            &:nth-child(7) {
                --logo-left: 24%;
                --logo-top: 92%;
            }
            &:nth-child(8) {
                --logo-left: 95%;
                --logo-top: 91%;
            }
            &:nth-child(9) {
                --logo-left: 85%;
                --logo-top: 71%;
            }
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media (prefers-reduced-motion: reduce) {
            will-change: auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__block--logos &__text {
        margin-right: auto;
    }

    &__block--logos &__logos {
        position: absolute;
        z-index: 4;
    }

    &__block--photo {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 21.5rem;

        @media screen and (min-width: variables.$desktop) {
            flex-direction: unset;
            align-items: flex-end;
            justify-content: flex-start;
            padding-left: 60rem;
        }
    }

    &__block--photo &__figure {
        flex: 0 0 auto;
        position: relative;
        margin-left: -4rem;
        width: 28.6rem;
        height: 28.6rem;
        backdrop-filter: variables.$glass-blur;
        border-radius: 50%;
        background: url("assets/svg/bg/key-facts-circles-soft.svg") no-repeat
            center center;

        @media screen and (min-width: variables.$mobile) {
            margin-left: 0;
            width: 40rem;
            height: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            order: 2;
            width: 43rem;
            height: 43rem;
            margin-left: -3.2rem;
            transform: translateY(12.1rem);
            z-index: 5;
        }

        img {
            display: block;
            width: 39rem;
            height: auto;
            margin: 0.1rem auto auto;
            border-radius: 50%;
            border: 0.1rem solid variables.$border-color;
        }
    }

    &__block--device {
        margin-top: 6.5rem;

        @media screen and (min-width: variables.$mobile) {
            margin-top: 11.7rem;
        }
    }

    &__block--device &__text {
        @media screen and (max-width: 430px) and (orientation: portrait) {
            margin-right: auto;
            margin-left: unset;
        }
    }

    &__block--device &__figure {
        position: relative;
        flex: 0 0 auto;
        width: 28rem;
        border-radius: variables.$border-radius-base;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            margin-left: 17%;
            z-index: 5;
        }

        @media screen and (min-width: variables.$mobile) {
            width: 45rem;
        }

        @media screen and (min-width: variables.$tablet) {
            width: 62.9rem;
            top: 15.3rem;
            right: 3.6rem;
            z-index: 5;
            align-self: flex-start;
        }

        &::after {
            content: "";
            z-index: 3;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
            }
        }

        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: variables.$glass-blur;

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
            }
        }

        img {
            z-index: 4;
            position: relative;
            width: 100%;
            height: auto;
            border-radius: variables.$border-radius-base;
            border: 0.1rem solid variables.$border-color;
        }
    }
}
