@use "../variables";

.key-facts {
    position: relative;
    width: 100%;
    height: 100%;

    // ========== BACKGROUND LAYER ==========
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__header {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    &__bg-upper,
    &__bg-lower {
        height: 100vh;
    }

    &__bg-upper {
        position: absolute;
        top: var(--content-mobile-offset);
        left: 0;
        width: 100%;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            top: var(--content-offset);
        }
    }

    &__bg-lower {
        position: absolute;
        left: 0;
        width: 100%;
        top: 70vh;
    }

    // ========== UPPER AREA DECORATIONS ==========
    &__path-upper,
    &__pattern-upper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__path-upper {
        z-index: 2;
        height: 60%;

        @media screen and (orientation: landscape) {
            top: -12rem;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            height: 100%;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: -20rem;
            height: 100%;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -40rem;
        }
    }

    &__pattern-upper {
        z-index: 1;
        height: 100%;
        background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 / cover;

        @media screen and (min-width: variables.$tablet) {
            background-size: contain;
        }
    }

    // ========== LOWER AREA DECORATIONS ==========
    &__path-lower,
    &__pattern-lower,
    &__pattern-mobile {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__path-lower {
        z-index: 2;
        top: 30rem;

        @media screen and (min-width: variables.$tablet) {
            top: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 56rem;
        }
    }

    &__pattern-lower {
        z-index: 1;
        top: -16rem;
        background: url("assets/svg/bg/key-facts-bg-2.svg") no-repeat center right / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: -32rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 16rem;
            background-size: 80%;
        }

        @media screen and (min-width: variables.$desktop) {
            background-size: 60%;
        }
    }

    &__pattern-mobile {
        z-index: 1;
        top: 60rem;
        background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center center / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: 46rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            display: none;
        }
    }

    // ========== CONTENT LAYER ==========
    &__content {
        position: relative;
        z-index: 3;
        padding-top: var(--content-mobile-offset);
        margin: 0 auto;
        width: 100%;
        max-width: var(--content-max-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem; // Gap between blocks

        @media screen and (min-width: variables.$mobile) {
            width: var(--content-tablet-width);
            gap: 15rem;
        }
    }

    // ========== CONTENT BLOCKS ==========
    &__block {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }

    &__text {
        z-index: 4;
        width: calc(100% - 3.2rem);
        max-width: 33.6rem; // Matches design better
        padding: 2.4rem;
        border-radius: 3.6rem;
        border: 0.1rem solid variables.$border-color;
        backdrop-filter: blur(0.7rem);
        font-family: variables.$font-source-code-pro;
        font-size: 1.4rem; // Smaller on mobile
        line-height: 1.4;
        color: variables.$color-white;
        text-align: left;

        @media screen and (min-width: variables.$mobile) {
            max-width: 44.6rem;
            padding: 4.6rem 3.6rem;
            border-radius: 6.4rem;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    // ========== LOGOS ==========
    &__logos {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 40rem; // Fixed height for mobile orbits
        margin: 0 auto;

        @media screen and (min-width: variables.$tablet) {
            position: absolute;
            top: -4.4rem;
            left: -7.3rem;
            height: 100%;
        }
    }

    &__logo {
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform variables.$linear-transition;
        border-radius: 50%;
        backdrop-filter: blur(0.7rem);
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / contain;
        will-change: transform;
        z-index: 5;

        @media screen and (min-width: variables.$mobile) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        img {
            width: 80%;
            height: auto;
            object-fit: contain;
        }
    }

    // ========== BLOCK: LOGOS ==========
    &__block--logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    &__block--logos &__text {
        position: relative;
        z-index: 6;
        margin-bottom: -15rem; // Overlap with logos as in design
        top: 0;

        @media screen and (min-width: variables.$mobile) {
            margin-bottom: 0;
            position: absolute;
            top: 4rem;
            left: 0;
        }
    }

    // ========== BLOCK: PHOTO ==========
    &__block--photo {
        min-height: auto;
        justify-content: center;
        gap: 3rem;

        @media screen and (min-width: variables.$mobile) {
            height: 80rem;
            justify-content: flex-end;
        }

        @media screen and (min-width: variables.$tablet) {
            height: 50rem;
        }
    }

    &__block--photo &__figure {
        position: relative;
        top: 0;
        left: 0;
        width: 28.6rem;
        height: 28.6rem;
        backdrop-filter: blur(0.7rem);
        border-radius: 50%;
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / contain;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: variables.$mobile) {
            position: absolute;
            top: 38rem;
            width: 40rem;
            height: 40rem;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 3rem;
            left: -3rem;
        }

        img {
            display: block;
            width: 90%;
            height: auto;
            border-radius: 50%;
            border: 0.1rem solid variables.$border-color;
        }
    }

    // ========== BLOCK: CARD ==========
    &__block--card {
        min-height: auto;
        gap: 3rem;

        @media screen and (min-width: variables.$mobile) {
            height: 53rem;
        }
    }

    &__block--card &__figure {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 33.6rem;
        border-radius: 3.6rem;

        @media screen and (min-width: variables.$mobile) {
            position: absolute;
            top: 42rem;
            left: 10%;
            width: 45rem;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 12rem;
            left: -3.2rem;
            width: 62.9rem;
        }

        &::after {
            content: "";
            z-index: 3;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
            }
        }

        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
            }
        }

        img {
            z-index: 4;
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
        }
    }

    &__block--card &__watermark {
        z-index: -1;
        position: absolute;
        display: none;
        bottom: 0;
        left: 60%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(45deg) scaleX(-1);
        background-blend-mode: lighten;
        background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            bottom: -15rem;
            left: 18%;
            transform: rotate(235deg) scaleX(-1);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
