@use "../variables";

.key-facts {
    position: relative;
    width: 100%;
    height: 100%;

    &__header {
        position: relative;
         z-index: 3;
        width: 100%;
    }

    &__backgrounds {
        position: relative;
    }

    // ========== BG-LINE (AnimatedPathFollower) ==========
    &__bg-line--upper {
        position: absolute;
        top: -5.5rem;
        right: -0.5rem;
        width: 105%;
        z-index: 2;
        height: 100%;
        width: 105%;       
    }

    &__bg-line--lower {
        position: absolute;
        top: -5.5rem;
        right: -0.5rem;
        width: 105%;
        z-index: 2;
        height: 100%;

        @media screen and (min-width: variables.$tablet) {
            top: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 56rem;
        }
    }

    &__watermark {
        z-index: 1;
        position: absolute;
        display: none;
        top: 14rem;
        left: 10%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(-45deg);
        background: url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -13rem;
            right: 20%;
            left: unset;
            transform: rotate(45deg);
        }
    }

    &__bg-stripes {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    &__bg-stripes--upper {
        z-index: 1;
        top: -3rem;
        height: 1568.4px;
        background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 / cover;

        @media screen and (min-width: variables.$tablet) {
            top: -30rem;
            width: 105%;
            left: -18.5rem;            
        }
    }

    &__bg-stripes--lower {
        z-index: 1;
        top: -16rem;
        background: url("assets/svg/bg/key-facts-bg-2.svg") no-repeat center right / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: -32rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 16rem;
            background-size: 80%;
        }

        @media screen and (min-width: variables.$desktop) {
            background-size: 60%;
        }
    }

    &__bg-stripes--mobile {
        z-index: 1;
        top: 60rem;
        background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center center / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: 46rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            display: none;
        }
    }

    // ========== CONTENT ==========
    &__content {
        position: relative;
        z-index: 3;
        padding-top: var(--content-mobile-offset);
        margin-inline: auto;
        width: calc(100% - 3.2rem);

        @media screen and (min-width: variables.$tablet) {
            width: 75%;
        }
    }

    // ========== CONTENT BLOCKS ==========
    &__block {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
        @media screen and (min-width: variables.$tablet) {
            flex-direction: row;
        }
    }

    &__text {
        z-index: 4;
        flex: 0 0 44.6rem;
        width: 80%;
        max-width: 29.4rem;
        padding: 2.4rem;
        border-radius: 3.6rem;
        border: 0.2rem solid rgba(116, 116, 116, 0.35);
        backdrop-filter: blur(0.7rem);
        font-family: variables.$font-source-code-pro;
        font-size: 1.6rem;
        line-height: 2rem;
        color: variables.$color-white;

        @media screen and (min-width: variables.$mobile) {
            width: 44.6rem;
            max-width: unset;
            padding: 4.6rem 3.6rem;
            border-radius: 6.4rem;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    // ========== LOGOS ==========
    &__logos {
        position: absolute;
        top: 56px;
        left: 70px;
        width: 70%;
        height: 44.6rem;
    }

    &__logo {
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform variables.$linear-transition;
        border-radius: 50%;
        backdrop-filter: blur(0.7rem);
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center;
        will-change: transform;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media (prefers-reduced-motion: reduce) {
            will-change: auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // ========== BLOCK: LOGOS ==========

    &__block--logos &__text {
        padding-top: 4rem;
    }

    &__block--logos &__logos {
        position: absolute;
        z-index: 4;
    }

    // ========== BLOCK: PHOTO ==========
    &__block--photo {
        justify-content: flex-end;
    }

    &__block--photo &__figure {
        flex: 0 0 auto;
        position: relative;
        margin-left: -4rem;
        width: 28.6rem;
        height: 28.6rem;
        backdrop-filter: blur(0.7rem);
        border-radius: 50%;
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / cover;

        @media screen and (min-width: variables.$mobile) {
            margin-left: 0;
            width: 40rem;
            height: 40rem;
        }

        img {
            display: block;
            width: 25.55rem;
            height: auto;
            margin: 0.1rem auto auto;
            border-radius: 50%;
            border: 0.1rem solid variables.$border-color;

            @media screen and (min-width: variables.$mobile) {
                width: 35.2rem;
                margin: 0.6rem auto auto;
            }
        }
    }

    // ========== BLOCK: DEVICE ==========
    &__block--device &__figure {
        position: relative;
        flex: 0 0 auto;
        width: 28rem;
        border-radius: 3.6rem;

        @media screen and (min-width: variables.$mobile) {
            width: 45rem;
        }

        @media screen and (min-width: variables.$tablet) {
            width: 62.9rem;
        }

        &::after {
            content: "";
            z-index: 3;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
            }
        }

        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
            }
        }

        img {
            z-index: 4;
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
        }
    }

    &__block--device &__watermark {
        z-index: 1;
        position: absolute;
        display: none;
        bottom: 0;
        left: 60%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(45deg) scaleX(-1);
        background: url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            bottom: -15rem;
            left: 18%;
            transform: rotate(235deg) scaleX(-1);
        }
    }
}
