@use "../variables";

.key-facts {
    position: relative;
    width: 100%;
    height: 100%;

    // ========== BACKGROUNDS ==========
    &__backgrounds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__header {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    &__title {
        display: inline-flex;
        align-items: baseline;
        gap: 2rem;
        word-spacing: 0;
        letter-spacing: 0;

        &::first-letter {
            font-family: inherit;
            font-size: inherit;
        }
    }

    &__title-initial {
        font-family: variables.$font-pixelify-sans;
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 5.6rem;
        letter-spacing: 0;

        @media screen and (min-width: variables.$desktop) {
            font-size: 9.2rem;
            line-height: 11.1rem;
        }
    }

    &__title-rest {
        font-family: variables.$font-neutral-face;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 4.6rem;
        letter-spacing: 0.8rem;

        @media screen and (min-width: variables.$mobile) {
            letter-spacing: 1.44rem;
        }

        @media screen and (min-width: variables.$desktop) {
            font-size: 7.2rem;
            line-height: 9.2rem;
        }
    }

    // ========== BG ZONES ==========
    &__bg {
        height: 100vh;
    }

    &__bg--upper {
        position: absolute;
        top: var(--content-mobile-offset);
        left: 0;
        width: 100%;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            top: var(--content-offset);
        }
    }

    &__bg--lower {
        position: absolute;
        left: 0;
        width: 100%;
        top: 70vh;
    }

    // ========== BG-LINE (AnimatedPathFollower) ==========
    &__bg-line,
    &__bg-dots {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__bg-line--upper {
        z-index: 2;
        height: 60%;

        @media screen and (orientation: landscape) {
            top: -12rem;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            height: 100%;
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: -20rem;
            height: 100%;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -40rem;
        }
    }

    &__bg-line--lower {
        z-index: 2;
        height: 100%;
        top: 30rem;

        @media screen and (min-width: variables.$tablet) {
            top: 40rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: 56rem;
        }
    }

    // ========== BG-DOTS (patterns) ==========
    &__bg-dots--upper {
        z-index: 1;
        height: 100%;
        background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 / cover;

        @media screen and (min-width: variables.$tablet) {
            background-size: contain;
        }
    }

    &__bg-dots--lower {
        z-index: 1;
        height: 100%;
        top: -16rem;
        background: url("assets/svg/bg/key-facts-bg-2.svg") no-repeat center right / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: -32rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            top: 0;
        }

        @media screen and (min-width: variables.$tablet) {
            top: 16rem;
            background-size: 80%;
        }

        @media screen and (min-width: variables.$desktop) {
            background-size: 60%;
        }
    }

    &__bg-dots--mobile {
        z-index: 1;
        height: 100%;
        top: 60rem;
        background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center center / 200%;

        @media screen and (min-width: variables.$extra-small) {
            top: 46rem;
            background-size: contain;
        }

        @media screen and (min-width: variables.$mobile) {
            display: none;
        }
    }

    // ========== CONTENT ==========
    &__content {
        position: relative;
        z-index: 3;
        padding-top: var(--content-mobile-offset);
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 3.2rem);
        max-width: var(--content-max-width);
        height: 170rem;

        @media screen and (min-width: variables.$mobile) {
            width: var(--content-tablet-width);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            padding-top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            padding-top: var(--content-mobile-offset);
        }

        @media screen and (min-width: variables.$tablet) {
            width: var(--content-width);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            padding-top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            padding-top: var(--content-offset);
        }
    }

    // ========== CONTENT BLOCKS ==========
    &__block {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 5rem;
    }

    &__text {
        z-index: 4;
        flex: 0 0 44.6rem;
        width: 80%;
        max-width: 29.4rem;
        padding: 2.4rem;
        border-radius: 3.6rem;
        border: 0.1rem solid variables.$border-color;
        backdrop-filter: blur(0.7rem);
        font-family: variables.$font-source-code-pro;
        font-size: 1.6rem;
        line-height: 2rem;
        color: variables.$color-white;

        @media screen and (min-width: variables.$mobile) {
            width: 44.6rem;
            max-width: unset;
            padding: 4.6rem 3.6rem;
            border-radius: 6.4rem;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    // ========== LOGOS ==========
    &__logos {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 46.6rem;

        @media screen and (min-width: variables.$tablet) {
            left: -7.3rem;
            top: -4.4rem;
        }
    }

    &__logo {
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        padding: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform variables.$linear-transition;
        border-radius: 50%;
        backdrop-filter: blur(0.7rem);
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center;
        will-change: transform;

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
            width: 11.2rem;
            height: 11.2rem;
            padding: 2.8rem;
        }

        @media (prefers-reduced-motion: reduce) {
            will-change: auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // ========== BLOCK: LOGOS ==========
    &__block--logos {
        display: block;
        height: auto;
    }

    &__block--logos &__text {
        position: absolute;
        z-index: 4;
        left: 0;
        top: 4rem;

        @media screen and (min-width: variables.$mobile) {
            top: 4rem;
        }
    }

    // ========== BLOCK: PHOTO ==========
    &__block--photo {
        height: 62rem;
        justify-content: flex-end;

        @media screen and (min-width: variables.$mobile) {
            height: 80rem;
        }

        @media screen and (min-width: variables.$tablet) {
            height: 50rem;
        }
    }

    &__block--photo &__figure {
        position: absolute;
        top: 32rem;
        left: -4rem;
        width: 28.6rem;
        height: 28.6rem;
        backdrop-filter: blur(0.7rem);
        border-radius: 50%;
        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / cover;

        @media screen and (min-width: variables.$mobile) {
            top: 38rem;
            left: 0;
            width: 40rem;
            height: 40rem;
            min-width: 40rem;
        }

        @media screen and (min-width: variables.$tablet) {
            position: relative;
            top: 3rem;
            left: -3rem;
        }

        img {
            display: block;
            width: 25.55rem;
            height: auto;
            margin: 0.1rem auto auto;
            border-radius: 50%;
            border: 0.1rem solid variables.$border-color;

            @media screen and (min-width: variables.$mobile) {
                width: 35.2rem;
                margin: 0.6rem auto auto;
            }
        }
    }

    &__block--photo &__watermark {
        z-index: -1;
        position: absolute;
        display: none;
        top: 14rem;
        left: 10%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(-45deg);
        background-blend-mode: lighten;
        background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            top: -13rem;
            right: 20%;
            left: unset;
            transform: rotate(45deg);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // ========== BLOCK: CARD ==========
    &__block--card {
        height: 53rem;
    }

    &__block--card &__figure {
        position: absolute;
        top: 34rem;
        left: 10%;
        width: 28rem;
        height: 15.6rem;
        border-radius: 3.6rem;

        @media screen and (min-width: variables.$mobile) {
            top: 42rem;
            width: 45rem;
            height: auto;
        }

        @media screen and (min-width: variables.$tablet) {
            position: relative;
            top: 12rem;
            left: -3.2rem;
            width: 62.9rem;
            min-width: 38rem;
        }

        &::after {
            content: "";
            z-index: 3;
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -1.6rem;
                right: -1.6rem;
            }
        }

        &::before {
            content: "";
            z-index: 3;
            position: absolute;
            top: -1.6rem;
            right: -1.6rem;
            width: 100%;
            height: 100%;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
            backdrop-filter: blur(0.7rem);

            @media screen and (min-width: variables.$mobile) {
                top: -3.2rem;
                right: -3.2rem;
            }
        }

        img {
            z-index: 4;
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 3.6rem;
            border: 0.1rem solid variables.$border-color;
        }
    }

    &__block--card &__watermark {
        z-index: -1;
        position: absolute;
        display: none;
        bottom: 0;
        left: 60%;
        width: 20rem;
        height: 42rem;
        opacity: 0.3;
        transform: rotate(45deg) scaleX(-1);
        background-blend-mode: lighten;
        background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
        background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

        @media screen and (min-width: variables.$mobile) {
            display: block;
        }

        @media screen and (min-width: variables.$tablet) {
            bottom: -15rem;
            left: 18%;
            transform: rotate(235deg) scaleX(-1);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
