@use "sass:math";
@use "../variables";

.key-facts {
    position: relative;
    width: 100%;
    height: 100%;

    .backgrounds {
        .top,
        .bottom,
        .sub-bottom {
            height: 100vh;
        }

        .bottom {
            .background-a,
            .background-b {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            .background-a {
                z-index: 2;
                height: 60%;

                @media screen and (orientation: landscape) {
                    top: -12rem;
                }

                @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
                    height: 100%;
                }

                @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
                    top: -20rem;
                    height: 100%;
                }

                @media screen and (min-width: variables.$tablet) {
                    top: -40rem;
                }
            }

            .background-b {
                z-index: 1;
                height: 100%;
                background: url("assets/svg/bg/key-facts-bg-1.svg") no-repeat 0 0 / cover;

                @media screen and (min-width: variables.$tablet) {
                    background-size: contain;
                }
            }
        }

        .sub-bottom {
            top: 70vh;

            .background-c,
            .background-d,
            .background-e {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            .background-c {
                z-index: 2;
                top: 30rem;

                @media screen and (min-width: variables.$tablet) {
                    top: 40rem;
                }

                @media screen and (min-width: variables.$desktop) {
                    top: 56rem;
                }
            }

            .background-d {
                z-index: 1;
                top: -16rem;
                background: url("assets/svg/bg/key-facts-bg-2.svg") no-repeat center right / 200%;

                @media screen and (min-width: variables.$extra-small) {
                    top: -32rem;
                    background-size: contain;
                }

                @media screen and (min-width: variables.$mobile) {
                    top: 0;
                }

                @media screen and (min-width: variables.$tablet) {
                    top: 16rem;
                    background-size: 80%;
                }

                @media screen and (min-width: variables.$desktop) {
                    background-size: 60%;
                }
            }

            .background-e {
                z-index: 1;
                top: 60rem;
                background: url("assets/svg/bg/key-facts-bg-3.svg") no-repeat center center / 200%;

                @media screen and (min-width: variables.$extra-small) {
                    top: 46rem;
                    background-size: contain;
                }

                @media screen and (min-width: variables.$mobile) {
                    display: none;
                }
            }
        }
    }

    .content {
        z-index: 3;
        position: relative;
        height: 170rem;

        .flex-container {
            position: relative;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 5rem;

            .text-wrp {
                z-index: 4;
                flex: 0 0 44.6rem;
                width: 80%;
                max-width: 29.4rem;
                padding: 2.4rem;
                border-radius: 3.6rem;
                border: 0.1rem solid variables.$border-color;
                backdrop-filter: blur(0.7rem);
                font-family: variables.$font-source-code-pro;
                font-size: 1.6rem;
                line-height: 2rem;
                color: variables.$color-white;

                @media screen and (min-width: variables.$mobile) {
                    width: 44.6rem;
                    max-width: unset;
                    padding: 4.6rem 3.6rem;
                    border-radius: 6.4rem;
                    font-size: 2.2rem;
                    line-height: 2.8rem;
                }
            }

            .circles-wrp {
                position: relative;
                top: 38rem;
                left: -10rem;
                flex: 1 0 auto;

                @media screen and (min-width: variables.$mobile) {
                    top: 22rem;
                    left: -12rem;
                }

                .circle {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    transition: transform variables.$linear-transition;

                    .circle-item {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 6.4rem;
                        height: 6.4rem;
                        padding: 1.4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: transform variables.$linear-transition;
                        border-radius: 50%;
                        backdrop-filter: blur(0.7rem);
                        background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center;

                        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
                            width: 11.2rem;
                            height: 11.2rem;
                            padding: 2.8rem;
                        }

                        @media screen and (min-width: variables.$tablet) and (orientation: landscape) {
                            width: 11.2rem;
                            height: 11.2rem;
                            padding: 2.8rem;
                        }

                        img {
                            width: 100%;
                            height: auto;
                        }

                        $item-length: 9;

                        @for $i from 1 through $item-length {
                            &:nth-child(#{$i}) img {
                                transform: rotate(#{math.random(360)}deg);
                            }
                        }
                    }
                }
            }

            &.first {
                height: 55rem;
            }

            &.second {
                height: 62rem;
                justify-content: flex-end;

                @media screen and (min-width: variables.$mobile) {
                    height: 80rem;
                }

                @media screen and (min-width: variables.$tablet) {
                    height: 50rem;
                }

                .decoration {
                    position: absolute;
                    top: 32rem;
                    left: -4rem;
                    width: 28.6rem;
                    height: 28.6rem;
                    backdrop-filter: blur(0.7rem);
                    border-radius: 50%;
                    background: url("assets/svg/bg/key-facts-circles.svg") no-repeat center center / cover;

                    @media screen and (min-width: variables.$mobile) {
                        top: 38rem;
                        left: 0;
                        width: 40rem;
                        height: 40rem;
                        min-width: 40rem;
                    }

                    @media screen and (min-width: variables.$tablet) {
                        position: relative;
                        top: 3rem;
                        left: -3rem;
                    }

                    img {
                        position: relative;
                        display: block;
                        width: 25.55rem;
                        height: auto;
                        margin: 0.1rem auto auto;
                        border-radius: 50%;
                        border: 0.1rem solid variables.$border-color;

                        @media screen and (min-width: variables.$mobile) {
                            width: 35.2rem;
                            margin: 0.6rem auto auto;
                        }
                    }
                }

                .bg {
                    z-index: -1;
                    position: absolute;
                    display: none;
                    top: 14rem;
                    left: 10%;
                    width: 20rem;
                    height: 42rem;
                    opacity: 0.3;
                    transform: rotate(-45deg);
                    background-blend-mode: lighten;
                    background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
                    background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

                    @media screen and (min-width: variables.$mobile) {
                        display: block;
                    }

                    @media screen and (min-width: variables.$tablet) {
                        top: -13rem;
                        right: 20%;
                        left: unset;
                        transform: rotate(45deg);
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.third {
                height: 53rem;

                .decoration {
                    position: absolute;
                    top: 34rem;
                    left: 10%;
                    width: 28rem;
                    height: 15.6rem;
                    border-radius: 3.6rem;

                    @media screen and (min-width: variables.$mobile) {
                        top: 42rem;
                        width: 45rem;
                        height: auto;
                    }

                    @media screen and (min-width: variables.$tablet) {
                        position: relative;
                        top: 12rem;
                        left: -3.2rem;
                        width: 62.9rem;
                        min-width: 38rem;
                    }

                    &::after {
                        content: "";
                        z-index: 3;
                        position: absolute;
                        top: -0.8rem;
                        right: -0.8rem;
                        width: 100%;
                        height: 100%;
                        border-radius: 3.6rem;
                        border: 0.1rem solid variables.$border-color;
                        backdrop-filter: blur(0.7rem);

                        @media screen and (min-width: variables.$mobile) {
                            top: -1.6rem;
                            right: -1.6rem;
                        }
                    }

                    &::before {
                        content: "";
                        z-index: 3;
                        position: absolute;
                        top: -1.6rem;
                        right: -1.6rem;
                        width: 100%;
                        height: 100%;
                        border-radius: 3.6rem;
                        border: 0.1rem solid variables.$border-color;
                        backdrop-filter: blur(0.7rem);

                        @media screen and (min-width: variables.$mobile) {
                            top: -3.2rem;
                            right: -3.2rem;
                        }
                    }

                    img {
                        z-index: 4;
                        position: relative;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: auto;
                        border-radius: 3.6rem;
                        border: 0.1rem solid variables.$border-color;
                    }
                }

                .bg {
                    z-index: -1;
                    position: absolute;
                    display: none;
                    bottom: 0;
                    left: 60%;
                    width: 20rem;
                    height: 42rem;
                    opacity: 0.3;
                    transform: rotate(45deg) scaleX(-1);
                    background-blend-mode: lighten;
                    background: variables.$bg url("assets/png/key-facts/key.png") no-repeat center center / contain;
                    background: variables.$bg url("assets/webp/key-facts/key.webp") no-repeat center center / contain;

                    @media screen and (min-width: variables.$mobile) {
                        display: block;
                    }

                    @media screen and (min-width: variables.$tablet) {
                        bottom: -15rem;
                        left: 18%;
                        transform: rotate(235deg) scaleX(-1);
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
