@use "../variables";

.our-benefits {
    position: relative;
    width: calc(100% - 3.2rem);
    margin: 0 16px;
    height: 100%;

    @media screen and (min-width: variables.$tablet) {
        width: 100%;
    }

    &__backgrounds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__header {
        position: relative;
        z-index: 4;

        @media screen and (max-width: 430px) and (orientation: portrait) {
            display: flex;
        }
    }

    &__bg {
        &-line {
            position: absolute;
            top: 50rem;
            right: -0.5rem;
            width: 105%;
            height: 100%;
            z-index: 2;

            @media screen and (max-width: 430px) and (orientation: portrait) {
                right: -2.5rem;
                width: 112%;
                height: 125%;
            }
        }

        &-dots {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__dots {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        contain: layout style paint;
    }

    &__content {
        position: relative;
        z-index: 3;
        margin-inline: auto;
        transform: translateY(-5rem);

        @media screen and (max-width: 430px) and (orientation: portrait) {
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
            top: 0;
            transform: translateY(0);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: portrait) {
            top: calc(var(--content-offset) - 12rem);
        }

        @media screen and (min-width: variables.$mobile) and (orientation: landscape) {
            top: var(--content-tablet-offset);
        }

        @media screen and (min-width: variables.$tablet) and (orientation: portrait) {
            top: calc(var(--content-offset) - 3rem);
        }

        @media screen and (min-width: variables.$tablet) {
            width: 85.4rem;
        }

        @media screen and (min-width: variables.$desktop) {
            top: calc(var(--content-offset) + 10rem);
            width: calc(100vw - 3.2rem);
            max-width: 140rem;
        }
    }

    &__figure {
        @media screen and (min-width: variables.$desktop) {
            position: relative;
            z-index: 2;
            width: 80rem;
            margin-inline: auto;
        }
    }

    &__image-wrap {
        position: relative;
        width: 90%;
        margin-left: 10%;

        @media screen and (min-width: variables.$mobile) {
            margin-left: 0;
            width: 100%;
        }

        &:before {
            content: "";
            position: absolute;
            top: 8%;
            right: 7%;
            width: 100%;
            height: 100%;
            backdrop-filter: variables.$glass-blur;
            background: url("assets/svg/bg/our-benefits-bg.svg") no-repeat
                center center / contain;
            mask: url("assets/svg/bg/about-bg-mask.svg") no-repeat center
                center / contain;
        }
    }

    &__image-masked {
        position: relative;
        width: 96%;
        height: auto;
        mask: url("assets/svg/bg/our-benefits-image-mask.svg") no-repeat center
            center / contain;
    }

    &__list {
        position: relative;
        z-index: 5;
        display: flex;
        flex-flow: column wrap;
        row-gap: 4rem;
        margin-top: 5.8rem;
        width: 100%;
        height: auto;

        @media screen and (min-width: variables.$desktop) {
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            margin-top: 0;
            transform: translateX(-50%);
            width: calc(100vw - 3.2rem);
            height: 62rem;
        }
    }

    &__item {
        position: relative;
        width: 90%;
        max-width: 40rem;
        height: 5.4rem;
        border: 0.1rem solid variables.$border-color;
        border-radius: variables.$border-radius-pill;
        backdrop-filter: variables.$glass-blur;
        overflow: hidden;
        transform-origin: left center;
        transition:
            transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
            border-color variables.$transition;
        will-change: transform;

        &:hover {
            transform: scaleX(1.03);
            border-color: variables.$color-primary;
        }

        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(5) {
            order: 2;
        }

        &:nth-child(2) {
            order: 3;
        }

        &:nth-child(4) {
            order: 4;
        }

        &:nth-child(3) {
            order: 5;
        }

        @media screen and (min-width: variables.$desktop) {
            position: absolute;
            width: 61rem;
            max-width: unset;
            height: 9.6rem;
            order: initial;

            &:nth-child(1) {
                top: -18%;
                left: 10%;
            }

            &:nth-child(2) {
                top: 50%;
                left: 5%;
            }

            &:nth-child(3) {
                left: calc(50% - 30.5rem);
                bottom: 0;
            }

            &:nth-child(4) {
                top: -10%;
                right: 8%;
                transform-origin: right center;
            }

            &:nth-child(5) {
                top: 50%;
                right: 4%;
                transform-origin: right center;
            }

            &:nth-child(3) {
                transform-origin: center center;
            }
        }

        @media screen and (min-width: variables.$extra-large) {
            &:nth-child(1) {
                left: 18%;
            }

            &:nth-child(2) {
                left: 12%;
            }

            &:nth-child(4) {
                right: 18%;
            }

            &:nth-child(5) {
                right: 12%;
            }
        }
    }

    &__circle {
        position: absolute;
        top: -0.1rem;
        left: 0;
        width: 5.4rem;
        height: 5.4rem;
        border-radius: 50%;
        background-color: variables.$color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: variables.$desktop) {
            width: 9.6rem;
            height: 9.6rem;
        }

        i {
            font-size: 2rem;
            color: variables.$icon-color;

            @media screen and (min-width: variables.$desktop) {
                font-size: 4.8rem;
            }
        }
    }

    &__item-text {
        position: relative;
        height: 5.4rem;
        width: calc(100% - 5.4rem);
        margin-left: auto;
        padding: 0 1.2rem;

        @media screen and (min-width: variables.$tablet) {
            padding: 0 1.8rem;
        }

        @media screen and (min-width: variables.$desktop) {
            height: 9.6rem;
            width: 51.4rem;
            padding: 0 3rem;
        }
    }

    &__item-title,
    &__item-subtitle {
        padding-top: 0.2rem;
        font-family: variables.$font-source-code-pro;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: lowercase;
        color: variables.$color-white;

        @media screen and (min-width: variables.$desktop) {
            font-size: 2.8rem;
            padding-top: 0.8rem;
        }

        span {
            margin-right: 0.8rem;
            color: variables.$color-primary;

            &.our-benefits__title-glow {
                color: variables.$color-white;
                margin-inline: 1rem;
            }

            @media screen and (min-width: variables.$desktop) {
                margin-right: 1.6rem;
            }
        }
    }

    &__title-glow {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        color: variables.$color-primary;
        text-shadow: variables.$text-glow;
    }

    &__item-title {
        text-wrap-mode: nowrap;
    }

    &__item-subtitle {
        text-align: right;

        span {
            margin-right: 0;

            &.our-benefits__title-glow {
                margin-inline: 1rem;
            }
        }
    }
}
