:root {
    font-size: 10px;

    --content-offset: 24rem;
    --content-mobile-offset: 10rem;
    --content-tablet-offset: 14rem;
    --content-width: 70%;
    --content-tablet-width: 85%;
    --content-max-width: 135rem;
}
