// colors
$bg: #1c1c1e;
$bg-rgba: rgba(28, 28, 30, 0.5);
$color-white: #fff;
$border-color: #747474;
$color-primary: #f6b823;
$icon-color: #242426;
$error-color: #FF4F4F;

// fonts
$font-source-code-pro: "Source Code Pro", monospace;
$font-pixelify-sans: "Pixelify Sans", system-ui;
$font-amiro: "Arimo", sans-serif;
$font-neutral-face: "Neutral Face", $font-amiro;
$font-ubuntu-sans-mono: "Ubuntu Sans Mono", $font-source-code-pro;

// transitions
$transition: 0.25s ease-in-out;
$linear-transition: 0.5s linear;

// design tokens
$border-width: 0.1rem;
$border-radius-base: 3.6rem;
$border-radius-pill: 7.4rem;
$glass-blur: blur(0.7rem);

// glow text-shadow (primary color)
$text-glow:
    0 0 2.6rem rgba(246, 184, 35, 0.72),
    0 0 3.6rem rgba(246, 184, 35, 0.58),
    0 0 1rem rgba(246, 184, 35, 0.65),
    0 0 1rem rgba(246, 184, 35, 0.55),
    0 0 1rem rgba(246, 184, 35, 0.38),
    0 0 1rem rgba(246, 184, 35, 0.24);

// media queries: widths
$extra-large: 2000px;
$extra-small: 431px;
$desktop: 1500px;
$tablet: 1025px;
$mobile: 769px;
// media queries: heights
$mobile-height: 431px;
$tablet-height: 1025px;
